@charset "UTF-8";
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*.centralizar {
    width: 1200px;
    margin: 0 auto;
}*/
ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

/* ---- BOT├òES ---- */
.menu, .button, .nav, .nav-client {
  background-color: #f28858;
  border-bottom: 3px solid; }

.button, .nav, .nav-client, .support-content {
  border-radius: 6px; }

.button {
  padding: 12px 25px; }

.features, .live, .menu, .nav {
  border-color: #b56642; }

.features:hover, .live:hover, .nav:hover {
  background-color: #b56642; }

.more, .nav-client {
  background-color: #77a1a0;
  border-color: #576f6f; }

.more {
  padding: 12px 45px;
  margin: 10px 0; }

.more:hover, .nav-client:hover {
  background-color: #576f6f; }

/* ---------------- */
/* ---- HEADER ---- */
.container {
  width: 940px;
  margin: 0 auto; }

.body {
  font-family: 'open_sansregular', sans-serif; }

body a {
  text-decoration: none;
  color: #FFF; }

.upper-header {
  font-size: 12px;
  color: #c8d8d7;
  background-color: #576f6f;
  height: 42px;
  width: 100%; }

.support, .upper-header ul {
  margin-top: 11px; }

.support, .logo {
  float: left; }

.logo, h1 {
  font-size: 24px;
  line-height: 24px; }

header ul {
  float: right; }

header li {
  display: inline-block;
  margin-top: 0; }

.menu {
  font-size: 15px;
  height: 60px; }

.menu a, .menu ul {
  margin-top: 19px; }

.menu ul a {
  padding: 5px 10px;
  border-radius: 8px; }

.menu ul a:hover {
  background-color: #cd8757;
  border-bottom: 2px solid #b56642; }

.menu li {
  font-weight: bold;
  margin-left: 10px; }

/* -- FIM DO HEADER -- */
/*---- MAIN-SLIDER ---- */
h1 {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 100px; }

h1, .main-slider li {
  color: #FFF;
  background-color: #8c9796;
  border-bottom: 2px solid #b6bfb6; }

.main-slider {
  height: 500px;
  background-color: #c8d8d7;
  position: relative; }

.main-slider .container {
  position: relative; }

.main-slider li {
  font-size: 13px;
  margin-bottom: 5px;
  padding: 6px 8px;
  float: left;
  clear: both; }

.main-slider li:before {
  content: '>';
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px; }

.main-slider ul {
  margin-bottom: 30px; }

.main-slider .bottom {
  height: 99px;
  width: 1200px;
  background: url(../img/menu-slider_bg-btm.png) no-repeat;
  margin: 110px auto; }

.slider-image {
  background: url(../img/pc-ipad.png) no-repeat;
  width: 471px;
  height: 317px;
  position: absolute;
  right: 0px;
  top: 120px; }

.nav {
  position: absolute;
  top: 210px;
  padding-top: 15px; }

.nav-client {
  position: absolute;
  top: 120px;
  font-size: 25px;
  padding: 10px 10px 3px 10px; }

.nav.right:before, .nav.left:before {
  font-size: 55px;
  line-height: 55px; }

.right:before, .left:before {
  font-family: 'untitled-font-1'; }

.right:before {
  content: 'r'; }

.left:before {
  content: 'l'; }

.right {
  right: 0; }

.left {
  left: 0; }

/* -- FIM DO MAIN-SLIDER -- */
/* ---- ARTICLES ---- */
h2 {
  font-family: 'open_sansbold', sans-serif;
  font-size: 22px;
  color: #cd8757; }

.articles {
  font-size: 15px;
  margin: 100px 0 55px 0;
  text-align: center; }

.articles article {
  width: 300px;
  display: inline-block;
  margin: 0 15px; }

.articles p {
  margin-bottom: 40px; }

/* -- FIM DOS ARTICLES -- */
/* ---- SUPPORT-CONTENT ---- */
.support-content, .provide, .articles {
  color: #687170; }

.support-content {
  background-color: #f5f5f5;
  margin-bottom: 50px;
  position: relative; }
  .support-content h3 {
    padding: 15px 0 0 15px; }
  .support-content p {
    padding: 0 0 15px 15px; }
  .support-content a {
    position: absolute;
    right: 35px;
    top: 22px; }

.provide {
  float: left;
  font-size: 15px;
  width: 360px; }

.performance {
  display: inline-block;
  margin-left: 110px; }
  .performance li {
    background-color: #f5f5f5;
    margin-bottom: 8px;
    padding: 0;
    width: 470px; }
  .performance .bar-1 {
    background-color: #c8d8d7;
    margin-bottom: 8px;
    padding: 13px 0;
    width: 430px; }
  .performance .bar-2 {
    background-color: #c8d8d7;
    margin-bottom: 8px;
    padding: 13px 0;
    width: 450px; }
  .performance .bar-3 {
    background-color: #c8d8d7;
    margin-bottom: 8px;
    padding: 13px 0;
    width: 435px; }
  .performance .bar-4 {
    background-color: #c8d8d7;
    margin-bottom: 8px;
    padding: 13px 0;
    width: 400px; }

.links-performance {
  margin-bottom: 80px; }

.clients {
  position: relative;
  text-align: center;
  background-color: #f28858;
  position: relative; }
  .clients article {
    display: inline-block;
    width: 190px;
    height: 220px;
    margin: 10px 15px 30px 15px; }
  .clients h2 {
    color: #c8d8d7;
    position: relative;
    text-align: center;
    top: -20px; }
  .clients h4 {
    color: #FFF;
    margin-bottom: 0px; }
  .clients p {
    font-family: 'open_sansitalic', sans-serif;
    font-size: 13px;
    color: #f3ddd4; }

.bg-top {
  background-color: #FFF;
  width: 100%;
  height: 56px;
  position: absolute;
  top: -25px;
  border-radius: 25px; }

.bg-bottom {
  background-color: #FFF;
  width: 100%;
  height: 56px;
  position: absolute;
  bottom: -25px;
  border-radius: 25px; }

.news .news-articles {
  text-align: center;
  margin-bottom: 100px; }
.news article {
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  width: 304px; }
  .news article:nth-child(2) {
    margin: 0 3px; }
  .news article img {
    border-radius: 10px 10px 0 0; }
  .news article .news-info {
    margin: 0 18px; }
  .news article h2 {
    font-size: 19px;
    padding: 22px 30px 0 30px; }
  .news article p {
    font-family: "open_sansregular", sans-serif;
    font-size: 13px;
    color: #7f8c8c; }
  .news article a {
    font-family: "open_sanssemibold_italic", sans-serif;
    font-size: 14px;
    color: #77a1a0; }
  .news article .list-icon {
    background: url(../img/list-icon.png);
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -25px; }
  .news article .news-category {
    font-family: "open_sansitalic", sans-serif;
    font-size: 12px;
    color: #9a9a9a;
    margin: 20px;
    padding-top: 15px;
    border-top: 1px solid #e1e1e1; }
  .news article li {
    display: inline-block; }
    .news article li:first-child {
      margin-right: 130px; }

.footer-top {
  background: url(../img/footer_bg-top.png);
  width: 1200px;
  height: 99px;
  margin: 0 auto; }

footer {
  background-color: #f28858; }
  footer .about {
    float: left;
    width: 570px; }
    footer .about li {
      display: inline-block; }
  footer .products {
    width: 365px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
